<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carpool">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LogInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CityPickerActivity" android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MainPageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SignUpAsPoolerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FindPoolerFormActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FindPoolerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ShowRequestedDrivesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DetailPoolerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RequestedDriveDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SeeOfflineAcceptedDrivesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ShowOnlineAcceptedDriveActivity" android:screenOrientation="portrait"/>
        <activity android:name=".OnlineAcceptedDriveDetailActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>